<!DOCTYPE html>
<html>  
<head> 
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/style.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
<script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
<script src="../static/script.js" defer></script>
<meta name="author" content="Derek Li">
<meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
<meta name="description" content="MonoMuse website redesign project">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MonoMuse</title>
</head>

<body onload="addYear()">
<div class="container">
    <header class="header">
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
    </header>
    <nav class="nav_bar"> 
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <button id="hamburger" onclick="toggleNav()">☰</button>
    </nav>

    <main class="main">
        <h2>Explore</h2>
        <img src="../static/mono_muse.jpg" alt="MonoMuse Museum">

        <h3>Visit Us</h3>
        <div id="map"></div>
        
        <h3>Mission Statement</h3>
        <p>MonoMuse is dedicated to exploring the evolving relationship between art, technology, and society. Our mission is to inspire curiosity and creativity by showcasing innovative exhibitions that highlight how digital tools, emerging technologies, and human imagination shape the future of artistic expression.</p>

        <h3>Who We Serve</h3>
        <p>MonoMuse welcomes first-time visitors, returning members, students, families, and anyone curious about the intersection of art and technology.</p>

        <h3>Founded</h3>
        <p>MonoMuse was founded in 2014 in Pittsburgh, Pennsylvania.</p>

        <h3>Milestones</h3>
        <ul>
            <li>2023: Expansion of the museum space and launch of international artist collaborations.</li>
            <li>2018: Launch of the Interactive Media Lab, allowing visitors to experiment with creative coding.</li>
            <li>2016: MonoMuse opens its doors with its first exhibition on digital storytelling.</li>
            <li>2014: MonoMuse founded in Pittsburgh, PA.</li>
        </ul>

    </main>

    <footer class="footer">   
        <p id="copyYear"></p>
    </footer>
</div>
</body>
</html>



