<!DOCTYPE html>
<html>  
<head> 
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/style.css">
<script src="../static/script.js" defer></script>
<meta name="author" content="Derek Li">
<meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
<meta name="description" content="MonoMuse website redesign project">
<title>MonoMuse</title>
</head>

<body onload="addYear()">
    <header>
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
        <nav> 
            <a id="navselected" href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>

    <div class="main">
        <table>
            <tr>
                <th>Ticket Type</th>
                <th>Description</th>
                <th>Price ($)</th>
            </tr>
            <tr>
                <td>Guest</td>
                <td>Access to all exhibitions and installations.</td>
                <td>$18</td>
            </tr>
            <tr>
                <td>Student</td>
                <td>Student ID required.</td>
                <td>$18</td>
            </tr>
            <tr>
                <td>Member</td>
                <td>Member ID required.</td>
                <td>$18</td>
            </tr>
        </table>
    </div>

    <footer>   
        <p id="copyYear"></p>
    </footer>
</body>
</html>



