<!DOCTYPE html>
<html>  
<head> 
<meta name="author" content="Derek Li">
<meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
<meta name="description" content="MonoMuse website redesign project">
<title>MonoMuse</title>
</head>

<body>
    <header>
        <h1>Checkout</h1>
        <nav> 
            <a href="../index.html">Home</a>
            <a href="views/explore.html">Explore</a>
            <a href="views/exhibitions.html">Exhibitions</a>
            <a href="views/tickets.html">Buy Tickets</a>
            <a href="views/checkout.html">Checkout</a>
        </nav>
    </header>

    <div class="main">
        <form>
            <label for="name">Name (required):</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="email">Email (required):</label><br>
            <input type="text" id="email" email="email">
            <input type="submit" value="Submit">
        </form>
    </div>

    <footer>   
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>
</body>
</html>



