<!DOCTYPE html>
<html>  
<head> 
<meta name="author" content="Derek Li">
<meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
<meta name="description" content="MonoMuse website redesign project">
<title>MonoMuse</title>
</head>

<body>
    <header>
        <h1>Explore</h1>
        <nav> 
            <a href="../index.html">Home</a>
            <a href="views/explore.html">Explore</a>
            <a href="views/exhibitions.html">Exhibitions</a>
            <a href="views/tickets.html">Buy Tickets</a>
            <a href="views/checkout.html">Checkout</a>
        </nav>
    </header>

    <div class="main">
        <img src="../static/mono_muse.jpg", alt = "MonoMuse Museum">
        
        <h3>Mission Statement</h3>
        <p>A long mission statement.</p>

        <h3>Milestones</h3>
        <ul>
            <li>2023: blah</li>
            <li>2018: blah</li>
            <li>2016: blah</li>
        </ul>
    </div>

    <footer>   
        <p>&copy; 2026 MonoMuse. All rights reserved.</p>
    </footer>
</body>
</html>



